body {
  background-image: linear-gradient(
    to right top,
    #ff00f4,
    #ff00aa,
    #ff336a,
    #ff7337,
    #f89e12
  );
  margin: 0;
  padding: 0;
}

.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}

.figma-body h2 {
  font-weight: lighter;
  letter-spacing: 3px;
}

.figma-body .figma-style {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
  gap: 1rem;
  column-rule: 1px solid black;
  overflow-wrap: break-word;
}

.figma-change-box {
  margin: 2rem auto;
  width: 300px;
}

.figma-style div {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 0.1rem;
}

.figma-style button {
  padding: 0.5rem 1rem;
  font-size: 15px;
  background: rgb(255, 243, 243);
  border: none;
  outline: none;
  margin: 3px;
  border-radius: 5px;
}
